{% extends "base.html" %}
{% block title%}
Chat App | Home
{% endblock %}
{% block css %}
<style>
    .chat-msg{
        height: 80vh;
    }
    #rec_user {
        height: 85.5vh;
    }
    #inpChat:focus {
        outline: none;
        box-shadow: none;
    }
    #sendBtn:focus {
        outline: none;
        box-shadow: none;
    }
</style>
{% endblock %}

{% block content %}
<form class="mx-md-4 mt-3 mx-auto" method ="POST" id="msg" name="msg">
    {% csrf_token %}
    <div class="row mt-4 mx-auto">
        <div class="col-md-2" id="rec_user" >
                {% for username,name in Users.items  %}
                    <label style="cursor: pointer;" class="list-group-item clearfix rounded">
                        <input type="radio" name="receiver" value="{{username}}" {% if rec == username %} checked{% endif %} hidden>
                        <b class="list-group-item-heading">{{username}}</b>
                        <p class="list-group-item-text">{{name}}</p>
                    </label>
                </select>
               {% endfor %}
        </div>
        <div class="col-md-10">
            <div id="chat-msg" class="chat-msg">
                {% for c,s in Chats %}
                <div class="row mx-1">
                    {% if s %}
                    <div class="col"></div>
                    <div class="col-auto alert alert-success">
                    {% else %}
                    <div class="col-auto alert alert-primary">
                    {% endif %}
                            {% for k,v in c.items %}
                                {% if k == "Message"%}
                                    {{v}}
                                {% else %}
                                    {% if k == "dateTime"%}
                                    <div class="form-text">
                                        {{v}}
                                    </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if rec %}
                <div class="input-group mt-1 mb-3" >
                  <input type="text" class="form-control" placeholder="Type Message... " name="message" autocomplete="off" id="inpChat">
                  <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit" name="sendmsg" id="sendBtn"><i class="fa fa-paper-plane-o" disabled="disabled"></i> Send</button>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
</form>


<script type="text/javascript">

    new SimpleBar(document.getElementById("chat-msg"));
    new SimpleBar(document.getElementById("rec_user"));

    var container = document.querySelector('#chat-msg .simplebar-content-wrapper');
    container.scrollTo({ top: 1000000*$('#chat-msg')[0].scrollHeight});

    $(function(){
        $('#rec_user').click(function(){
            $('#msg').submit();
        });
    });

</script>

{% endblock %}