{% extends "base.html" %}
{% block title%}
Chat App | Home
{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<form class="container mt-3" method ="POST">
    {% csrf_token %}
    <div class="row mt-5">
        <div class="col-md-3">
            <label for="receiver">Select User</label>
            <select list="userlist" class="form-control" name="receiver" required>
                {% for username,name in Users.items  %}
                    <option label="{{username}} - {{name}}" value="{{username}}" {% if rec == username %} selected{% endif %}></option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-info col-12 my-2" name="showmsg"><i class="fa fa-envelope-o"></i> Show Messages</button>
            <label for="message">Message</label>
            <input type="text" class="form-control" name="message">
            <button type="submit" class="btn btn-success col-12 my-2" name="sendmsg"><i class="fa fa-paper-plane-o"></i> Send Message</button>
        </div>
        <div class="col-md-9">
            {% for c in Chats %}
                <div class="col-md-6 offset-md-2 alert alert-primary">
                    {% for k,v in c.items %}
                        {% if k == "Message"%}
                            <h3>{{v}}</h3>
                        {% else%}
                            <small>
                                {{k}} - {{v}}
                                <br>
                            </small>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}