{% extends "base.html" %}
{% block title%}
SafeChat | Profile
{% endblock %}
{% block css%}
<style>
  .hr{
    padding: 0px;
    margin: 0px;
  }
</style>
{% endblock %}
{% block content %}
<h2 class="text-center mt-3">Profile</h2>
<form class="container mt-3" method ="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4">
            <div class="text-center">
                <img src="{{ imgurl }}" class="rounded-circle img-thumbnail w-60 my-3"  width="70%">
            </div>
            <h2 class="text-center">{{request.user}}</h2>
        </div>
        <div class="col-md-8">
            <div class="row my-5 mx-3">
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-4">
                            First Name:
                        </div>
                        <div class="col-md-8">
                            <b>{{request.user.first_name}} <hr class="hr"> </b>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-md-4">
                            Last Name:
                        </div>
                        <div class="col-md-8">
                            <b>{{request.user.last_name}} <hr class="hr"> </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-5 mx-3">
                <div class="col-md-2">Email ID: </div>
                <div class="col-md-10"><b>{{request.user.email}} <hr class="hr"></b></div>
            </div>
            <div class="row my-5 mx-3">
                <label class="my-2">Bio: </label>
              <div class="form-group">
                <textarea class="form-control mb-3" name="bio" rows="5">{{bio}}</textarea>
                <div class="row">
                    <div class="float-start col text-success">
                        {% if messages %}
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success float-end">Update</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}